<div id="pins" class="transitions-enabled infinite-scroll clearfix">
  <%- @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= image_tag pin.image.url %>
      <div class="panel-body">
        <%= pin.title %>
      </div>
      <p class="description">
        <%= pin.description %> 
      </p>
      <p>
        <strong>
          Posted by XXXX
        </strong>
      </p>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  $('#pins').imagesLoaded
  $('#pins').masonry({
    itemSelector: ".box",
    isAnimated: true
  });
});
</script>